
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/Card.css" asp-append-version="true" />

<a class="btn btn-success" onclick="Usuario()">Usuario</a>
<a class="btn btn-danger" onclick="Limpiar()">Limpiar</a>
<div class="row row-cols-4" id="cardbody">
        </div>
    </div>
    
 
    








